* {
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    margin: 0;
    font-family: "Poppins";
}

@font-face {
    font-family: "Poppins";
}

h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;

}

h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #1D3444;

}
h3{
    font-weight: 600;
font-size: 36px;
line-height: 44px;
letter-spacing: -0.03em;
color: #0D1317;

}
h5{
    font-weight: 600;
font-size: 24px;
letter-spacing: -0.03em;
color: #0D1317;

}