/* banner */
.banner-cover {
    display: flex;
    width: 100%;
}

.banner {
    width: 100%;
    height: 90vh;
    background-color: #DCEAF5;
}

.banner-left-side {
    width: 40%;
}

.banner-left-top p {
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;

}

.banner-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.button-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 199px;
    height: 54px;
    background-color: #F58A07;
    border-radius: 27px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;

}

.banner-button a {
    font-weight: 600;
    font-size: 16px;
    color: #1D3444;
}

.banner-left-bottom p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(57, 65, 73, 0.5);

}

.banner-left-bottom {
    margin-top: 50px;
}

.banner-bottom-photo {
    display: flex;
    justify-content: space-between;
}

.banner-right img {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    width: 110%;
    height: 90vh;
}
 
/* help section */

.help{
    width: 100%;
    padding-top: 100px;
}

.help-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.help p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;

}
.card p{
    font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #5B5B5B;

}
.card{
    width: 30%;
   
}
.card a{
    font-weight: 500;
font-size: 16px;
color: #F58A07;
display: flex;
align-items: center;
justify-content: space-between;
width: 34%;
}
.card a::after{
    content: "\2192";
    font-size: 25px;
}

/* challenge section */

.challenge-text{
    display: flex;
    justify-content: space-between;
}
.challenge{
    background-color: #EDF7FF;
    height: 100vh;
    margin-top: 100px;
}
.challenge-cover{
    width: 100%;
    padding-top: 60px;
}
.challenge-cards{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.challenge-card{
    width: 30%;
    height: 40vh;
    background-color:  #FFFFFF;
    border-radius: 20px;
    padding-left: 40px;
    padding-top: 40px;
}
.challenge-text p{
    font-weight: 500;
font-size: 18px;
line-height: 30px;
color: #1D3444;
margin-top: 36px;

}

/* about section */

.about-photo{
    background: url("../images/about-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50%;
    border-radius: 20px;
    position: relative;
}

.about{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}
.about-left-side{
    width: 50%;
}
.left-side-bottom{
    display: flex;
}
.about-photo-color{
    width: 160px;
height: 100vh;
background-color: #F58A07;
mix-blend-mode: multiply;
position: absolute;
border-radius: 20px 0 0 20px;
}
.about h2{
    font-weight: 600;
font-size: 48px;
line-height: 56px;
letter-spacing: -0.03em;
color: #0D1317;

}
.about-left-side p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.left-side-number p{
    font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #5B5B5B;

}
.left-side-number h4{
    font-weight: 600;
font-size: 24px;
letter-spacing: -0.03em;
color: #0D1317;

}
.left-side-number .number {
    font-weight: 700;
font-size: 36px;
line-height: 50px;
color: #F58A07;
}

/* service section */

.service{
    background-color: #EDF7FF;
    border-radius: 20px;
    width: 100%;
    height: 100vh;
    padding: 50px 50px 50px 50px;
}

.service-top{
    display: flex;
    width: 48%;
    justify-content: space-between;

}
.service-top p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
height: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(6, 50, 85, 0.3);
    border: 1px solid #A8BCCC;
    border-radius: 31px;
    margin: 0;
    
}
.service-top-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #F58A07;
width: 194px;
height: 40px;
background: #FFFFFF;
border-radius: 31px;
}

.service-left-side{
    width: 48%;
}